<%= form.label :number_of_pages %>
    <%= form.number_field :number_of_pages %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <% if params[:action] == "edit" %>
      <%= image_tag @book.image %>
    <% end %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>